.background_image_01 {
  background: url('../img/1920x1080/02.jpg');
}
.background_image_02 {
  background: url('../img/1920x1080/01.jpg');
}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
#header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Hind;
  font-size: 13px;
  color: #fff;
  position: relative;
  z-index: 5;
  transition: 2s;
  padding-bottom: 100px;
}
#header .page_scroll {
  background-color: #fff;
}
#header .main_menu {
  position: fixed;
  height: 100px;
  border-bottom: 1px solid #a6a7aa;
  width: 100%;
  transition: 0.5s;
  overflow: hidden;
}
#header .main_menu li:hover::before {
  right: 95%;
  top: 45%;
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  border: 1px solid #11a1ef;
}
#header .main_menu li {
  position: relative;
  list-style: none;
}
#header .main_menu li .page_scroll_a {
  color: #545454;
}
#header .main_menu li a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
#header .header_title .main_title {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  padding-top: 200px;
  text-transform: uppercase;
}
#header .header_title .sub_title {
  color: #a6a7aa;
  font-size: 15px;
}
#advantages_info {
  padding-top: 100px;
  padding-bottom: 100px;
}
#advantages_info_content {
  display: flex;
  justify-content: space-between;
}
#advantages_info_content_item h2 {
  font-family: Hind;
  color: #515769;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 10px;
}
#advantages_info_content_item p {
  font-family: Hind;
  font-size: 15px;
  color: #a6a7aa;
  font-weight: 400;
}
#advantages_info_content_item a {
  text-transform: uppercase;
  font-family: Hind;
  font-size: 13px;
  color: #838898;
  font-weight: 600;
  position: relative;
}
#advantages_info_content_item a:before {
  position: absolute;
  content: '';
  background: #17bed2;
  width: 10px;
  height: 2px;
  top: 8px;
  right: -20px;
}
#about_us_block {
  border-top: 1px solid #f3f3f3;
  padding-bottom: 80px;
  padding-top: 80px;
}
#about_us_block_content {
  display: flex;
}
#about_us_block_content_info h1 {
  font-family: Hind;
  color: #515769;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 10px;
}
#about_us_block_content_info p {
  font-family: Hind;
  font-size: 15px;
  color: #a6a7aa;
  font-weight: 400;
}
#about_us_block_content_img img {
  padding-top: 20px;
  width: 100%;
}
#content_block {
  background-color: #fafafa;
  padding-bottom: 100px;
}
#content_block .content_block_main {
  margin-top: 100px;
  background-color: #fff;
}
#content_block .content_block_main .content_block_item {
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  position: relative;
  padding: 40px;
}
#content_block .content_block_main .content_block_item:hover {
  padding-top: 0px;
}
#content_block .content_block_main .content_block_item:hover img {
  opacity: 0;
}
#content_block .content_block_main .content_block_item img {
  position: relative;
  z-index: 0;
  padding-top: 20px;
  width: 45px;
  transition: 0.3s;
}
#content_block .content_block_main .content_block_item p {
  padding-top: 20px;
  color: #a6a7aa;
  font-size: 15px;
  font-family: Hind;
}
#content_block .content_block_main .content_block_item h3 {
  font-size: 22px;
  padding-top: 20px;
  color: #515769;
  font-weight: 700;
  font-family: Hind;
}
#customers_review {
  padding-bottom: 100px;
}
#customers_review_content h2 {
  font-family: Hind;
  font-size: 30px;
  color: #515769;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 100px;
}
#customers_review_content .all_review_block {
  display: flex;
  margin-left: 100px;
  position: relative;
}
#customers_review_content .all_review_block .review_block_outside {
  margin-left: 40px;
}
#customers_review_content .all_review_block .review_block_outside .review p {
  font-family: Hind;
  font-size: 17px;
  color: #a6a7aa;
  font-weight: 400;
  margin-bottom: 20px;
}
#customers_review_content .all_review_block .review_block_outside .review span {
  color: #515769;
  font-weight: 700;
  font-size: 14px;
}
#customers_review_content .all_review_block #next {
  position: absolute;
  outline: none;
  border: none;
  right: 0px;
  height: 100%;
  background-color: #fff;
  top: 0px;
  right: 120px;
}
#customers_review_content .all_review_block #next img {
  height: 25%;
  width: 100%;
}
#customers_review_content .all_review_block #prev {
  outline: none;
  border: none;
  position: absolute;
  left: 0px;
  height: 100%;
  background-color: #fff;
  top: 0px;
  left: -120px;
}
#customers_review_content .all_review_block #prev img {
  height: 25%;
  width: 100%;
}
#customers_review_content .review:before {
  content: "``";
  position: absolute;
  left: 0px;
  top: -30px;
  color: #17bed2;
  font-size: 82px;
  letter-spacing: -10px;
  transform: rotateY(45deg);
}
#customers_review_content .no-display {
  display: none;
}
#customers_review_content .display {
  display: block;
  animation-name: reviewAnimation;
  animation-duration: 1s;
}
#team {
  background: #fafafa;
}
#team_content {
  padding-bottom: 100px;
  padding-top: 100px;
}
#team_content_main_title h1 {
  font-family: Hind;
  font-size: 30px;
  color: #515769;
  font-weight: 700;
  padding-bottom: 20px;
}
#team_content_main_title h3 {
  font-family: Hind;
  font-size: 15px;
  color: #a6a7aa;
  font-weight: 400;
  padding-bottom: 20px;
}
#team_content_main_items {
  padding-top: 20px;
  justify-content: space-around;
  display: flex;
}
#team_content_main_items #item_header img {
  width: 95%;
}
#team_content_main_items #item_title {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
#team_content_main_items #item_title .name {
  font-family: Hind;
  font-size: 22px;
  color: #515769;
  padding-top: 8px;
  font-weight: 700;
}
#team_content_main_items #item_title .name:hover {
  color: #a6a7aa;
}
#team_content_main_items #item_title .prof {
  padding-top: 15px;
  padding-left: 15px;
  text-transform: uppercase;
  font-family: Hind;
  font-size: 14px;
  color: #bfc1c7;
  font-weight: 400;
}
#team_content_main_items #item_content p {
  font-family: Hind;
  font-size: 15px;
  color: #a6a7aa;
  font-weight: 400;
}
#team_content_main_items #item #read_more a {
  text-decoration: none;
  font-family: Hind;
  font-size: 13px;
  color: #81848f;
  font-weight: 600;
  position: relative;
}
#team_content_main_items #item #read_more a:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 2px;
  background-color: #17bed2;
  top: 9px;
  right: -15px;
}
#team_content_main_items #item #read_more a:hover {
  color: #c0c3cc;
}
#footer {
  background: url(../img/1920x1080/03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Hind;
  position: relative;
}
#footer_content {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
#footer_content #footer_menu ul {
  list-style: none;
  font-size: 17px;
  font-weight: 500;
}
#footer_content #footer_menu ul li {
  margin-bottom: 15px;
}
#footer_content #footer_menu ul li a {
  color: #cbd3e1;
  text-decoration: none;
}
#footer_content #footer_menu ul li a:hover {
  color: #fff;
}
#footer_content #footer_links ul {
  list-style: none;
  font-size: 17px;
  font-weight: 500;
}
#footer_content #footer_links ul li {
  margin-bottom: 15px;
}
#footer_content #footer_links ul li a {
  color: #cbd3e1;
  text-decoration: none;
}
#footer_content #footer_links ul li a:hover {
  color: #fff;
}
#footer_content #message_form form {
  display: flex;
  flex-direction: column;
}
#footer_content #message_form form h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}
#footer_content #message_form form input {
  margin-bottom: 15px;
  width: 85%;
  border: none;
  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 15px 15px;
  outline: none;
}
#footer_content #message_form form input::-webkit-input-placeholder {
  color: #a6a7aa;
  font-size: 14px;
  font-weight: 400;
}
#footer_content #message_form form textarea {
  outline: none;
  width: 85%;
  border: none;
  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 15px 15px;
}
#footer_content #message_form form textarea::-webkit-input-placeholder {
  color: #a6a7aa;
  font-size: 14px;
  font-weight: 400;
}
#footer_content #message_form form button {
  background: #17bed2;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  padding: 15px;
  border-radius: 0px;
  border: none;
  width: 110px;
  text-transform: uppercase;
  margin-top: 30px;
}
#footer #footer_end {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #9e9a9a59;
}
#footer #footer_end > div {
  display: flex;
  justify-content: space-between;
}
#footer #footer_end_author p {
  font-family: Hind;
  font-weight: 700;
  color: #17bed2;
}
#footer #footer_end_author p a {
  color: #a6a7aa;
  text-decoration: none;
}
@keyframes reviewAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
